
#pepperoni {

    background-image: url(img/pepperoni.jpg);
    background-repeat: no-repeat;
}
#canadian {

    background-image: url(img/canadian.jpg);
    background-repeat: no-repeat;
}

#hawaiian {

    background-image: url(img/hawaiian.jpg);
    background-repeat: no-repeat;
}

#cheese {

    background-image: url(img/pepperoni.jpg);
    background-repeat: no-repeat;
}

#veggieLover {

    background-image: url(img/veggieLovers.jpg);
    background-repeat: no-repeat;
}

#meatLover {

    background-image: url(img/meatLovers.jpg);
    background-repeat: no-repeat;
}

#bigPoppa {

    background-image: url(img/bigPoppa.jpg);
    background-repeat: no-repeat;
}


body {

    font-family: Arial;
    background-color: #333;
    color: black;
    
}

.mainCanvas {

    background-image: url(/img/asfalt-light.png);
    margin: 20px 115px;
    height: 800px;
}

.header {

    text-align: center;
    padding-top: 15px;
    
}

.lable {

    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    font-weight: bold;
    width: 200px;
}

/* NavBar */
/* --------------------------------------------------------------- */
.navbar {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;

    background-color: #333;
    position: sticky;
    top: 0;
}

.navbarLogo 
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    height: 60px;
    width: 60px;
    border-radius: 50px;
}

.navbarItem {

    display: flex;
    justify-content: center;
    align-items: center;

    height: 75px;
    width: 75px;

    float: left;
    margin: 5px 50px;
    padding: 0 50px;
}

.navbar a {

    color: white;
}

.navbar a:hover:visited {

    background-color: rgb(255, 255, 255);
    color: black;
}
.navbar a:hover {
    
    background-color: white;
    color: black;
}

.navbar a:visited {

    color: white;
}
/* --------------------------------------------------------------- */


/* Quick Order Options */
/* --------------------------------------------------------------- */

.startOrder 
{
    display: flex;
    justify-content: center;
    align-items: center;

}


.orderOption {

    display: flex;
    justify-content: center;
    align-items: center;
    

    width: 200px;
    height: 50px;
    margin: 0 20px 20px 20px ;
    float: left;

    color: black;
    border: 1px solid rgba(0, 0, 0, 0.8);;
    background-color: red;

}


.orderOption:hover 
{
    background: rgba(255, 0, 0, 0.6);
}
/* --------------------------------------------------------------- */


/* Menu */
/* --------------------------------------------------------------- */

.menu {

    display: flex;
    justify-content: center;
    align-items:baseline;
    flex-wrap: wrap;

    color: black;

}

.menuItem {

    display: flex;
    align-items:flex-end;
    justify-content: center;
    flex-direction: row-reverse;
    

    width: 200px;
    height: 150px;
    margin: 0 20px 80px 20px;

    background-color: #f2f2f2;
}

.menuItemInfo {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    margin: 0;
}

.menuItemOrder {

    display: flex;
    align-items: center;
    justify-content: center;
    

    width: 175px;
    height: 50px;
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.8);;
    background-color: rgba(255, 0, 0, 0.8);
    color: black;
    
}

.menuItemOrder:hover
{
    background-color: rgba(255, 0, 0, 0.3);
}
/* --------------------------------------------------------------- */


.banner {

    text-align: center;
}



